:root{
    --first: #f9f9f9;
    --second: #145224;
    --third: #b1f7c3a0;
    --fourth: #aceeb4;
    --fifth:#1e652f;
    --sixth: #e7ba736e;
    --seventh: #6d380d;
    --eighth: #0d3801;
    --dark: rgb(44, 44, 44);
    --text1: "Open Sans";
    --text2: "Montserrat";
}
